<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <main>
      <div id="bg">
        <div class="container-login">
          <div class="field">
            <form action="/auth/login" method="post">
          <div class="field">
          <label class="label">Username</label>
            <div class="control">
        <input class="input" type="text" placeholder="username/email" name="username" /><br><br>
      </div>
    </div>
  </div>

          <div class="field">
            <div class="control">
              <label class="label">Password</label>
              <input class="input" type="password" placeholder="Enter Password Here" name="password">
                <i class="fas fa-lock"></i>
                <br><br>
            </div>  
      </div>

        <div class="field">
          <p class="control"></p>
        <input class="button is-link" type="submit" value="Login" />
      </form>
      <br>
    </div>
      </div>
    </main>
    
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </div>
  </body>
</html>



