<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Travel-Vacation-Planner</strong> by <strong>Kim Carpico</strong>. We are not responsible for the contents of provided external sites.
      </p>
    </div>
  </footer>