<!-- JAVASCRIPT FILE FOR NAV BAR MENU RESPONSIVENESS -->
<script src="app.js" defer></script>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<header>
<!-- NAVBAR FOR BRAND LOGO -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <!-- navbar items, navbar burger... -->
      <header>
        <img class="company-logo" src="https://i.imgur.com/nhTQ5Ef.png" alt="">
      </header>
    </div>
  </nav>
</header>
