<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <div class="centered-title">
      <h1 class="title">Travel Vacation Planner</h1>
      <h2 class="subtitle">Where your Destination Begins</h2>
      <br>
    </div>
    <div class="container">
    <div class="vertical-center">
      <a href="/auth/signup"><button class="button is-link">SIGNUP</button></a>
      <a href="/auth/login"><button class="button is-link">LOGIN</button></a>
    </div>
    </div>
      <br>
      <br>
      <div class="cover-center-image">
      <img class="home-image" src="https://www.pandotrip.com/wp-content/uploads/2018/08/Path-to-Paradise.-Bora-Bora-French-Polynesia-Pacific-Ocean.jpg" alt="bora-bora">
    </div>

    </main>

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>