.cover-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centered-title {
  text-align: center;
}

.company-logo {
    width: 50px;
    height: 50px;
}

.container {
    margin: auto;
    align-items: center; 
    justify-content: center;
    display: flex;
}

.centered-user-index {
    text-align: center;
}

.right-aligned-logout-button {
    text-align: right;
}


.field {
 width: 70%;
}

.notes-formatting {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.right-column-editing {
    justify-content: left;
}

.m-6 {
    width: 50%;
    margin: 1rem;
}

.columns {
    margin: 20px;
}

.submit-button {
    margin: 15px;
    margin-bottom: 15px;
}


.button.is-link.blue-button {
    margin-left: 20px;
}


.card {
    margin: 25px;
}

.card-image {
    margin-left: 50px;
}

.background-img {
    background-image: url("");
}

.button.is-link.delete-button {
    margin: 15px;
}

#edit-section.edit-section {
    justify-content: center;
    width: 30%;
    margin: auto;
    text-align: left !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    position: relative;
    top: 40px;
}

.container-login {
    justify-content: center;
    width:30%; 
    margin: auto;
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 1em;
    position: relative;
    top: 40px;
}

.container-signup {
    justify-content: center;
    width:30%; 
    margin: auto;
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 1em;
    position: relative;
    top: 40px;
}

#edit-section.edit-section form {
    text-align: left !important;
}

#bg {
    background-image: url("https://www.tahitiislandstravel.com/client/files/iles/boratimmckenna-5-vig3.jpg");
    width: 100%;
    height: 100vh;
    opacity: 85%;
    background-size: cover;
}

.final-show {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1032497921/thumb/1.jpg");
    width: 100%;
    height: 100vh;
    opacity: 85%;
    background-size: cover;
}

.background-img-show {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1034296229/thumb/1.jpg");
    width: 100%;
    height: 100vh;
    opacity: 85%;
    background-size: cover;
}

.container-user-index {
    background-image: url("https://cdn.mos.cms.futurecdn.net/AEiXQdY9F6jEsFQYxGA5J5.jpg");
    width: 100%;
    height: 100vh;
    opacity: 85%;
    background-size: cover;
}



#location-input {
    position: absolute;
    margin: 20px;
}


#edit-delete-button {
    left: -15px;
}

.move-logout {
    margin-top: 20px;
    margin: 15px;
}

.column {
    margin: 25px;
    margin-left: -25px;
    background-color:  rgba(255, 255, 255, 0.5);
}

.note-column {
    background-color:  rgba(255, 255, 255, 0.5);
    margin: 25px;
    margin-left: -25px;
}

.show-title {
    text-align: center;
}

.show-card {
    text-align: left;
}

  .show-section {
    justify-content: center;
    width: 30%;
    margin: auto;
    text-align: left !important;
    background-color: white;
    padding: 1em;
    position: relative;
    top: 40px;
    margin-top: 76px;
}

.center-return {
    font-size: 17px;
}

.hero-body {
    text: blue;
}

@media (max-width: 500px) {
    .container-login {
        width:91%; 
        margin: auto;
        position: relative;
        top: 100px;
    }
}

@media (max-width: 500px) {
    .left-form {
        margin-left: 45px;
    }

}