.cover-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.centered-title {
  text-align: center;
}

.company-logo {
    width: 50px;
    height: 50px;
}

.container {
    margin: auto;
    align-items: center; 
    justify-content: center;
    display: flex;
}

.centered-user-index {
    text-align: center;
}

.right-aligned-logout-button {
    text-align: right;
}


.field {
 width: 70%;
 margin: 15px;
}

.notes-formatting {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.right-column-editing {
    justify-content: left;
}

.m-6 {
    width: 50%;
    margin: 1rem;
}

.columns {
    margin: auto;
}

.submit-button {
    margin: 15px;
}

div.column {
    margin: auto;
}

.button.is-link.blue-button {
    margin-left: 20px;
}


.card {
    margin: 25px;
}

.card-image {
    margin-left: 50px;
}

.background-img {
    background-image: url("");
}